$primary-green: #4CAF50;
$hover-green: #45a049;
$primary-red: #d13636;
$hover-red: #aa4747;
$hole-brown: #654321;
$mole-brown: #c45505;
$white: #ffffff;

$button-transition: background-color 0.3s ease-in-out;

$main-wrap-padding-top: clamp(4rem, 5vw, 10rem);
$main-wrap-gap: clamp(1rem, 3.5vw, 4rem);