.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 400px;
    height: 400px;
}

.hole {
    background-color:red;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.mole {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: brown;
    border-radius: 50% 50% 0 0;
    transition: bottom 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
}